<?xml version="1.0"?>
<configuration>
	<system.web>
    <compilation debug="false" targetFramework="4.0" />
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="Microsoft.Web.UI.WebControls" assembly="Microsoft.Web.DomainServices.WebControls"/>
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
